@charset "UTF-8";
/* Colors
---------------------------------*/
/* Breakpoint
---------------------------------*/
/* Fields
---------------------------------*/
/* Typography
---------------------------------*/
/* Make sure there's no overflow */
.k-markdown-field .k-input-element {
  width: 100%; }

/**
 * General field setup
 */
.k-markdown-input-wrapper {
  position: relative; }
  .k-markdown-input-wrapper[data-size="one-line"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="one-line"] .CodeMirror-scroll {
    min-height: 0; }
  .k-markdown-input-wrapper[data-size="two-lines"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="two-lines"] .CodeMirror-scroll {
    min-height: 3.5rem; }
  .k-markdown-input-wrapper[data-size="small"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="small"] .CodeMirror-scroll {
    min-height: 7.5rem; }
  .k-markdown-input-wrapper[data-size="medium"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="medium"] .CodeMirror-scroll {
    min-height: 15rem; }
  .k-markdown-input-wrapper[data-size="large"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="large"] .CodeMirror-scroll {
    min-height: 30rem; }
  .k-markdown-input-wrapper[data-size="huge"] .cm-s-default,
  .k-markdown-input-wrapper[data-size="huge"] .CodeMirror-scroll {
    min-height: 45rem; }

/**
 * Toolbar
 */
/* disabled state of toolbar buttons */
.k-markdown-button.is-disabled {
  opacity: 0.25;
  pointer-events: none; }

/* Editor has focus */
.k-markdown-input:focus-within .k-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000; }
  .k-markdown-input:focus-within .k-toolbar .k-markdown-button {
    position: relative; }
  .k-markdown-input:focus-within .k-toolbar .k-markdown-button.is-active {
    background: rgba(66, 113, 174, 0.075);
    color: #4271ae; }
  .k-markdown-input:focus-within .k-toolbar .k-button-icon {
    position: relative;
    z-index: 2; }

/* Align invisibles button to the right of the toolbar */
.k-markdown-toolbar-buttons-right {
  margin-left: auto;
  border-left: 1px solid #efefef; }

/** Active state for dropdown items */
.k-markdown-toolbar .k-button.k-dropdown-item[aria-current="true"] {
  color: #aacfff; }

/**
 * ## Global configuration
 */
.k-markdown-field {
  --cm-content-padding-y: .75rem;
  --cm-line-inset: 1.5rem;
  --cm-line-height: 1.6;
  --cm-code-background: rgba(0, 0, 0, .05);
  --cm-color-meta: #aaa;
  --cm-color-light-gray: rgba(0,0,0,.1);
  --cm-selection-background: hsla(195, 80%, 40%, .16);
  --md-color-special-char: #f8a752;
  --cm-color-cursor: #5588ca; }

/**
 * ## Line Styles
 */
/* All lines */
.k-markdown-field .cm-line {
  --cm-line-indent: calc(var(--cm-indent, 0ch) + var(--cm-mark, 0ch) + var(--cm-extra-indent, 0ch));
  margin-left: var(--cm-line-indent);
  padding: 0 var(--cm-line-inset);
  text-indent: calc(-1 * var(--cm-indent, 0ch) - var(--cm-mark, 0ch)); }

/* Codeblock with background */
.k-markdown-field .cm-codeblock {
  background: var(--cm-code-background);
  margin-left: calc(var(--cm-line-inset) / 2);
  margin-right: calc(var(--cm-line-inset) / 2);
  padding-left: calc(var(--cm-line-inset) / 2);
  padding-right: calc(var(--cm-line-inset) / 2); }

/* Blockquote */
.k-markdown-field .cm-blockquote {
  --cm-extra-indent: -.25em;
  border-left: 0.25em solid var(--cm-color-light-gray); }

/* Horizontal Rule */
.k-markdown-field .cm-hr {
  display: flex !important;
  text-align: center; }

.k-markdown-field .cm-hr::before,
.k-markdown-field .cm-hr::after {
  content: "";
  flex-grow: 1;
  background: linear-gradient(var(--cm-color-light-gray), var(--cm-color-light-gray)) 50% calc(50% + .0625rem)/100% 0.0625rem no-repeat; }

.k-markdown-field .cm-hr > span {
  flex-grow: 0;
  padding: 0 1ch; }

/**
 * ## Inline styles
 */
/* Kirbytags */
.k-markdown-field .cm-kirbytag {
  padding: .0625em 0 .0625em;
  margin: -.0625em 0 0px;
  background: rgba(66, 113, 174, 0.15);
  border: 0.0625em solid rgba(66, 113, 174, 0.3);
  border-width: .0625em 0;
  box-decoration-break: clone; }

/**
 * 1. Override highlighting colors inside Kirbytags to ensure,
 *    that there’s enough contrast between text and the tag background.
 */
.k-markdown-field .cm-kirbytag * {
  color: currentColor;
  /* 1 */ }

.k-markdown-field .cm-kirbytag-open {
  border-left-width: .0625em;
  margin-left: -.0625em;
  border-radius: .125em 0 0 .125em; }

.k-markdown-field .cm-kirbytag-close {
  border-right-width: .0625em;
  margin-right: -.0625em;
  border-radius: 0 .125em .125em 0; }

/* Custom highlights plugin */
.k-markdown-field [class*=" cm-token-"],
.k-markdown-field [class^="cm-token-"] {
  padding: .0625em 0;
  margin: -.125em -.0625em;
  border-radius: .125em;
  background: var(--token-background, rgba(0, 0, 0, 0.05));
  border: 0.0625em solid var(--token-border, rgba(0, 0, 0, 0.1));
  color: var(--color-text, #000); }

.k-markdown-field [class*=" cm-token-"] > *,
.k-markdown-field [class^="cm-token-"] > * {
  color: currentColor; }

.k-markdown-field .cm-token-red {
  --token-background: rgba(255, 0, 0, .12);
  --token-border: rgba(255, 0, 0, .25); }

.k-markdown-field .cm-token-purple {
  --token-background: hsla(285, 44%, 50%, .17);
  --token-border: hsla(285, 44%, 50%, .4); }

/**
 * Special chars
 */
.k-markdown-field .cm-specialChar {
  cursor: text; }

/**
 * Space
 * 1. Ensure, that extra span around each space character does not
 *    have any effect on word-wrapping.
 **/
.k-markdown-field .cm-specialChar[data-code="32"] {
  word-break: break-all;
  /* 1 */
  background: linear-gradient(var(--md-color-special-char), var(--md-color-special-char)) 50% calc(50% + .0625em)/0.125em 0.125em no-repeat; }

/* No-Break Space */
.k-markdown-field .cm-specialChar[data-code="160"] {
  background: linear-gradient(var(--md-color-special-char), var(--md-color-special-char)) 0.0625em 100%/0.0625em 0.125em no-repeat, linear-gradient(var(--md-color-special-char), var(--md-color-special-char)) 0.0625em 100%/calc(100% - .125em) 0.0625em no-repeat, linear-gradient(var(--md-color-special-char), var(--md-color-special-char)) calc(100% - .0625em) 100%/0.0625em 0.125em no-repeat;
  color: transparent; }

/* Soft Hyphen */
.k-markdown-field .cm-specialChar[data-code="173"] {
  margin-left: -.0625em;
  position: relative;
  left: .03125em;
  border-left: 0.0625em solid var(--md-color-special-char); }

/* Zero-Width Space */
.k-markdown-field .cm-specialChar[data-code="8203"] {
  padding-left: 3px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  margin-bottom: -4px;
  margin-top: -4px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url("data:image/svg+xml,%3Csvg width='3' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.915v17.17a1.5 1.5 0 11-1 0V2.915a1.5 1.5 0 111 0zM1.5 2a.5.5 0 100-1 .5.5 0 000 1zm0 20a.5.5 0 100-1 .5.5 0 000 1z' fill='%23f8a752' fill-rule='nonzero'/%3E%3C/svg%3E%0A") no-repeat; }

/* Tab character */
.k-markdown-field .cm-tab {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'%3E%3Cpath fill='%23f8a752' d='M9.85355339,3.14644661 C9.94403559,3.23692881 10,3.36192881 10,3.5 C10,3.63807119 9.94403559,3.76307119 9.85355339,3.85355339 L7.85355339,5.85355339 C7.65829124,6.04881554 7.34170876,6.04881554 7.14644661,5.85355339 C6.95118446,5.65829124 6.95118446,5.34170876 7.14644661,5.14644661 L8.29289322,4 L1.5,4 C1.22385763,4 1,3.77614237 1,3.5 C1,3.22385763 1.22385763,3 1.5,3 L8.29289322,3 L7.14644661,1.85355339 C6.95118446,1.65829124 6.95118446,1.34170876 7.14644661,1.14644661 C7.34170876,0.951184464 7.65829124,0.951184464 7.85355339,1.14644661 L9.85355339,3.14644661 Z'/%3E%3C/svg%3E%0A") center no-repeat; }
