/* Make sure there's no overflow */
.k-markdown-field {
  .k-input-element {
    width: 100%;
  }
}

// disabled option
// .k-input[data-theme="field"][data-disabled] .CodeMirror {
//   background: #efefef;
// }

/**
 * General field setup
 */
.k-markdown-input-wrapper {
  position: relative;
  // transform: translate3d(0, 0, 0); // causes issue with sticky on Safari

  // .k-markdown-input-native {
  //   resize: none;
  //   border: 0;
  //   width: 100%;
  //   background: none;
  //   font: inherit;
  //   line-height: 1.5em;
  //   color: inherit;

  //   &:focus {
  //      outline: 0;
  //   }
  //   &:invalid {
  //     box-shadow: none;
  //     outline: 0;
  //   }
  // }

  // size option
  &[data-size="one-line"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 0;
    }
  }
  &[data-size="two-lines"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 3.5rem;
    }
  }
  &[data-size="small"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 7.5rem;
    }
  }
  &[data-size="medium"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 15rem;
    }
  }

  &[data-size="large"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 30rem;
    }
  }

  &[data-size="huge"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 45rem;
    }
  }
}


/**
 * Toolbar
 */

/* disabled state of toolbar buttons */
.k-markdown-button.is-disabled {
  opacity: 0.25;
  pointer-events: none;
}

/* Editor has focus */
.k-markdown-input:focus-within .k-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;

  .k-markdown-button {
    position: relative;
  }

  .k-markdown-button.is-active {
    background: rgba($color-focus, .075);
    color: $color-focus;
  }

  .k-button-icon {
    position: relative;
    z-index: 2;
  }
}

/* Align invisibles button to the right of the toolbar */
.k-markdown-toolbar-buttons-right {
  margin-left: auto;
  border-left: 1px solid $color-light;
}

/** Active state for dropdown items */
.k-markdown-toolbar .k-button.k-dropdown-item[aria-current="true"] {
  color: #aacfff;
}
