// make sure there's no overflow
.k-markdown-field {
  .k-input-element {
    width: 100%;
  }
}

// disabled option
.k-input[data-theme=field][data-disabled] .CodeMirror {
  background: #efefef;
}

.k-markdown-input-wrapper {

  // General setup
  position: relative;
  // transform: translate3d(0, 0, 0); // causes issue with sticky on Safari

  .k-markdown-input-native {
    resize: none;
    border: 0;
    width: 100%;
    background: none;
    font: inherit;
    line-height: 1.5em;
    color: inherit;
    &::placeholder {
      color: $color-light-grey;
    }
    &:focus {
       outline: 0;
    }
    &:invalid {
      box-shadow: none;
      outline: 0;
    }
  }

  // size option
  &[data-size="small"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 7.5rem;
    }
  }
  &[data-size="medium"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 15rem;
    }
  }

  &[data-size="large"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 30rem;
    }
  }

  &[data-size="huge"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 45rem;
    }
  }
}


/* -----  Toolbar -------------------------------------------- */

// disabled state of toolbar buttons
.k-markdown-button.disabled {
  opacity: 0.25;
  pointer-events: none;
}

// active state of dropdown items
.k-dropdown-item.active {
  .k-button-text {
    opacity: 1;
  }
}

// Editor has focus
.k-markdown-input:focus-within .k-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  // active state of toolbar buttons
  .k-markdown-button.active {
    background: rgba($color-focus, .1);
    color: $color-focus;
  }
}

// align invisibles button to the right of the toolbar
.k-markdown-toolbar-buttons-right {
  margin-left: auto;
  border-left: 1px solid $color-light;
}
