@import '_variables.scss';
@import '_codemirror-default.scss';
@import '_codemirror-custom.scss';

// disabled option
.k-input[data-theme=field][data-disabled] .CodeMirror {
  background: #efefef;
}

.k-markdown-input-wrapper {

  // General setup

  position: relative;
  transform: translate3d(0, 0, 0);
  
  .k-markdown-input-native {
      resize: none;
      border: 0;
      width: 100%;
      background: none;
      font: inherit;
      line-height: 1.5em;
      color: inherit;
      &::placeholder {
        color: $color-light-grey;
    }

    &:focus {
       outline: 0;
    }
    
    &:invalid {
        box-shadow: none;
        outline: 0;
    }
  }

  // size option
  &[data-size="small"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 7.5rem;
    }
  }
  &[data-size="medium"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 15rem;
    }
  }

  &[data-size="large"] {
	  .cm-s-default,
	  .CodeMirror-scroll {
		  min-height: 30rem;
		}
  }

  &[data-size="huge"] {
    .cm-s-default,
    .CodeMirror-scroll {
      min-height: 45rem;
    }
  }
}

.k-markdown-input:focus-within .k-toolbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
}