/**
 * ## Global configuration
 */
.k-markdown-input-wrap {
  --cm-content-padding-y: .75rem;
  --cm-line-padding-x: 1.5rem;
  --cm-font-size: var(--font-size-medium);
  --cm-font-family: var(--font-family-mono);
  --cm-line-height: 1.7;
  --cm-code-background: rgba(0, 0, 0, .05);
  --cm-color-meta: #aaa;
  --cm-color-light-gray: rgba(0, 0, 0, .1);
  --cm-selection-background: hsla(195, 80%, 40%, .16);
  --cm-color-special-char: #fe4c4c;
  --cm-color-cursor: #5588ca;
}

.k-markdown-input-wrap[data-font-family="sans-serif"] {
  --cm-font-family: var(--font-family-sans);
}

.k-markdown-input-wrap[data-font-size="small"] {
  --cm-font-size: var(--font-size-small);
  --cm-line-height: 1.5;
}

.k-markdown-input-wrap[data-layout="narrow"] {
  --cm-content-padding-y: .375rem !important;
  --cm-line-padding-x: .375rem !important;
}

.k-markdown-input-wrap[data-layout="narrow"] .cm-line {
  --cm-mark: 0 !important;
  --cm-indent: 0 !important;
  --cm-extra-indent: 0 !important;
}

.k-markdown-input-wrap[data-font-family="sans-serif"] .cm-line {
  --cm-mark: 0 !important;
  --cm-indent: 0 !important;
  --cm-extra-indent: 0 !important;
}

/**
 * 1. Make sure there's no overflow
 */
.k-markdown-input .k-input-element {
  width: 100%; /* 1 */
}

/**
 * Toolbar
 */

/* disabled state of toolbar buttons */
.k-markdown-button.is-disabled {
  opacity: .25;
  pointer-events: none;
}

/* Editor has focus */
.k-markdown-input-wrap:focus-within .k-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
  color: var(--color-text);
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 4;
}

.k-markdown-input-wrap:focus-within .k-toolbar .k-markdown-button.is-active {
  background: rgba(66, 113, 174, .075);
  color: #4271ae;
}

.k-markdown-toolbar {
  height: auto;
  min-height: 38px;
}

.k-markdown-toolbar-buttons {
  flex-wrap: wrap;
}

.k-markdown-toolbar-buttons > * {
  flex-shrink: 0;
}

/* Align invisibles button to the right of the toolbar */
.k-markdown-toolbar-button-right {
  border-left: 1px solid var(--color-background);
  margin-left: auto;
}

/** Active state for dropdown items */
.k-markdown-toolbar .k-button.k-dropdown-item[aria-current="true"] {
  color: #aacfff;
}

.k-markdown-toolbar .k-button-text {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.k-markdown-toolbar .k-button-text kbd {
  font-variant-numeric: tabular-nums;
  margin-left: 2.5rem;
  opacity: .6;
}

/**
 * General field setup
 */

/*
//   // size option
//   &[data-size="one-line"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 0;
//     }
//   }
//   &[data-size="two-lines"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 3.5rem;
//     }
//   }
//   &[data-size="small"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 7.5rem;
//     }
//   }
//   &[data-size="medium"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 15rem;
//     }
//   }

//   &[data-size="large"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 30rem;
//     }
//   }

//   &[data-size="huge"] {
//     .cm-s-default,
//     .CodeMirror-scroll {
//       min-height: 45rem;
//     }
//   }
// }
*/

/* -----  Font-size option  --------------------------------------------------- */

/*
// .k-markdown-input[font-size="small"] .CodeMirror {
//   font-size: 14px;
// }
*/

/* -----  Font scaling option  ------------------------------------------------- *
// .k-markdown-input[font-scaling=true] .CodeMirror {
//   .cm-header,
//   .cm-header ~ * {
//     font: inherit;
//     font-weight: $font-weight-bold;
//   }

//   .cm-header-1,
//   .cm-header-1 ~ * {
//     font-size: 30px;
//     line-height: 1.25;
//   }

//   .cm-header-2,
//   .cm-header-2 ~ * {
//     font-size: 24px;
//     line-height: 1.4;
//   }

//   .cm-header-3,
//   .cm-header-3 ~ * {
//     font-size: 20px;
//     line-height: 1.5;
//   }

//   .cm-header-4,
//   .cm-header-4 ~ * {
//     font-size: 18px;
//   }

//   .cm-header-5,
//   .cm-header-5 ~ * {
//     font-size: 16px;
//   }

//   .cm-header-6,
//   .cm-header-6 ~ * {
//     font-size: 16px;
//   }
// }
*/

/**
 * ## Line Styles
 */

/* All lines */
.k-markdown-input .cm-line {
  --cm-line-indent: calc(var(--cm-indent, 0ch) + var(--cm-mark, 0ch) + var(--cm-extra-indent, 0ch));
  margin-left: var(--cm-line-indent);
  padding: 0 var(--cm-line-padding-x);
  text-indent: calc(-1 * var(--cm-indent, 0ch) - var(--cm-mark, 0ch));
}

/* Codeblock with background */
.k-markdown-input .cm-codeblock {
  background: var(--cm-code-background);
  margin-left: calc(var(--cm-line-padding-x) / 2);
  margin-right: calc(var(--cm-line-padding-x) / 2);
  padding-left: calc(var(--cm-line-padding-x) / 2);
  padding-right: calc(var(--cm-line-padding-x) / 2);
}

/* Blockquote */
.k-markdown-input .cm-blockquote {
  --cm-extra-indent: -.25em;
  border-left: .25em solid var(--cm-color-light-gray);
}

.k-markdown-input-wrap[data-font-family="sans-serif"] .cm-blockquote {
  --cm-line-indent: .75em;
}

/* Horizontal Rule */
.k-markdown-input  .cm-hr {
  display: flex !important;
  text-align: center;
}

.k-markdown-input .cm-hr::before,
.k-markdown-input .cm-hr::after {
  background: linear-gradient(var(--cm-color-light-gray), var(--cm-color-light-gray)) 50% calc(var(--cm-line-height) * 1em / 2) / 100% .0625rem no-repeat;
  content: "";
  flex: 1 0 2ch;
}

.k-markdown-input .cm-hr > span {
  flex-grow: 0;
  padding: 0 1ch;
}

/**
 * 1. Hack for overriding the color of header marks, because these
 *    would appear gray otherwise, such as other `processingInstruction`
 *    tags should. Due to CodeMirror’s language definition, these
 *    cannot be styled separately.
 */
.k-markdown-input .cm-heading > :first-child {
  color: currentColor; /* 1 */
}

/**
 * ## Inline styles
 */

/* Kirbytags */
.k-markdown-input .cm-kirbytag {
  background: rgba(66, 113, 174, .15);
  border: .0625em solid rgba(66, 113, 174, .3);
  border-width: .0625em 0;
  box-decoration-break: clone;
  font-weight: 400;
  margin: -.0625em 0 0;
  padding: .0625em 0 .0625em;
}

.k-markdown-input .cm-kirbytag > * {
  font-weight: 400;
}

/**
 * 1. Override highlighting colors inside Kirbytags to ensure,
 *    that there’s enough contrast between text and the tag background.
 */
.k-markdown-input .cm-kirbytag * {
  color: currentColor; /* 1 */
}

.k-markdown-input .cm-kirbytag-open {
  border-left-width: .0625em;
  border-radius: .125em 0 0 .125em;
  margin-left: -.0625em;
}

.k-markdown-input .cm-kirbytag-close {
  border-radius: 0 .125em .125em 0;
  border-right-width: .0625em;
  margin-right: -.0625em;
}

.k-markdown-input .cm-kirbytag-attr {
  position: relative;
}

.k-markdown-input .cm-kirbytag-attr::before {
  border-left: .0625em dotted rgba(66, 113, 174, .75);
  content: "";
  height: calc(100% - .25em);
  left: -.5ch;
  position: absolute;
  top: .125em;
  width: 0;
}

.k-markdown-input .cm-kirbytag-open + .cm-kirbytag-attr::before,
.k-markdown-input .cm-line > .cm-kirbytag-attr:first-child::before {
  content: none;
}

/* Custom highlights plugin */

.k-markdown-input [class*=" cm-token-"],
.k-markdown-input [class^="cm-token-"] {
  background: var(--token-background, rgba(0, 0, 0, .05));
  border: .0625em solid var(--token-border, rgba(0, 0, 0, .1));
  border-radius: .125em;
  color: var(--color-text, #000);
  margin: -.125em -.0625em;
  padding: .0625em 0;
}

.k-markdown-input [class*=" cm-token-"] > *,
.k-markdown-input [class^="cm-token-"] > * {
  color: currentColor;
}

/* https://github.com/getkirby/getkirby.com/blob/master/src/scss/variables.scss */
.k-markdown-input .cm-token-red {
  --token-background: rgba(255, 0, 0, .12);
  --token-border: rgba(255, 0, 0, .25);
}

.k-markdown-input .cm-token-purple {
  --token-background: hsla(285, 44%, 50%, .17);
  --token-border: hsla(285, 44%, 50%, .4);
}

/**
 * Special chars
 */

.k-markdown-input .cm-specialChar {
  cursor: text;
}

/**
 * Space
 * 1. Ensure, that extra span around each space character does not
 *    have any effect on word-wrapping.
 **/
.k-markdown-input .cm-specialChar[data-code="32"] {
  background: linear-gradient(var(--cm-color-special-char), var(--cm-color-special-char)) 50% calc(50% + .0625em) / .125em .125em no-repeat;
  word-break: break-all; /* 1 */
}

/* No-Break Space */
.k-markdown-input .cm-specialChar[data-code="160"] {
  background:
    linear-gradient(var(--cm-color-special-char), var(--cm-color-special-char)) .0625em 100% / .0625em .125em no-repeat,
    linear-gradient(var(--cm-color-special-char), var(--cm-color-special-char)) .0625em 100% / calc(100% - .125em) .0625em no-repeat,
    linear-gradient(var(--cm-color-special-char), var(--cm-color-special-char)) calc(100% - .0625em) 100% / .0625em .125em no-repeat;
  color: transparent;
}

/* Soft Hyphen */
.k-markdown-input .cm-specialChar[data-code="173"] {
  border-left: .0625em solid var(--cm-color-special-char);
  left: .03125em;
  margin-left: -.0625em;
  position: relative;
}

/* Zero-Width Space */
.k-markdown-input .cm-specialChar[data-code="8203"] {
  background: url("data:image/svg+xml,%3Csvg width='3' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.915v17.17a1.5 1.5 0 11-1 0V2.915a1.5 1.5 0 111 0zM1.5 2a.5.5 0 100-1 .5.5 0 000 1zm0 20a.5.5 0 100-1 .5.5 0 000 1z' fill='%23fe4c4c' fill-rule='nonzero'/%3E%3C/svg%3E%0A") no-repeat;
  margin-bottom: -4px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  margin-top: -4px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-top: 2px;
}

/* Tab character */
.k-markdown-input .cm-tab {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'%3E%3Cpath fill='%23fe4c4c' d='M9.85355339,3.14644661 C9.94403559,3.23692881 10,3.36192881 10,3.5 C10,3.63807119 9.94403559,3.76307119 9.85355339,3.85355339 L7.85355339,5.85355339 C7.65829124,6.04881554 7.34170876,6.04881554 7.14644661,5.85355339 C6.95118446,5.65829124 6.95118446,5.34170876 7.14644661,5.14644661 L8.29289322,4 L1.5,4 C1.22385763,4 1,3.77614237 1,3.5 C1,3.22385763 1.22385763,3 1.5,3 L8.29289322,3 L7.14644661,1.85355339 C6.95118446,1.65829124 6.95118446,1.34170876 7.14644661,1.14644661 C7.34170876,0.951184464 7.65829124,0.951184464 7.85355339,1.14644661 L9.85355339,3.14644661 Z'/%3E%3C/svg%3E%0A") center no-repeat;
}
