.k-markdown-input-wrap {
  --cm-content-padding-y: 0.75rem;
  --cm-line-padding-x: 1.5rem;
  --cm-font-size: var(--font-size-medium);
  --cm-font-family: var(--font-family-mono);
  --cm-line-height: 1.7;
  --cm-code-background: rgba(0, 0, 0, 0.05);
  --cm-color-meta: #999;
  --cm-color-light-gray: rgba(0, 0, 0, 0.1);
  --cm-selection-background: hsla(195, 80%, 40%, 0.16);
  --cm-color-special-char: #df5f5f;
  --cm-color-cursor: #5588ca;
  --cm-colors-highlight: rgba(255, 230, 0, 0.4); /* #fdc500; */
  --cm-min-lines: 2;
}

/* Font settings */

.k-markdown-input-wrap[data-font-family="sans-serif"] {
  --cm-font-family: var(--font-family-sans);
}

.k-markdown-input-wrap[data-font-size="small"] {
  --cm-font-size: var(--font-size-small);
  --cm-line-height: 1.5;
}

/* Editor min-height */

.k-markdown-input-wrap[data-size="one-line"] {
  --cm-min-lines: 1;
}

.k-markdown-input-wrap[data-size="two-lines"] {
  --cm-min-lines: 2;
}

.k-markdown-input-wrap[data-size="small"] {
  --cm-min-lines: 4;
}

.k-markdown-input-wrap[data-size="medium"] {
  --cm-min-lines: 8;
}

.k-markdown-input-wrap[data-size="large"] {
  --cm-min-lines: 16;
}

.k-markdown-input-wrap[data-size="huge"] {
  --cm-min-lines: 24;
}
